/*
 * CSS för Cv dokument
 */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #474747;
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
	background: none repeat scroll 0 0 #A3A3CC;
	margin:0 auto;
	width: 960px;
}

#top {
    margin: 0px auto 5px auto; /* top, right, bottom, left */
    color:  white;
}

#text {
	margin-top: 50px;
	clear: both;
}
#text p {
	margin-bottom: 10px;
}

.cheers {
	padding-left: 30px;
}

#lightmenu ul {
	list-style: none;
}

.light {
	border: 1px solid black;
	width: 100px;
	float: left;
	color: white;
	text-align: center;
}

.light:hover {
	color: black;
	background-color: white;
	text-align: center;
}

.nolink {
	border-color: black black #A3A3CC black;
	border-style: solid;
	border-width: 2px 2px 1px 2px;
	color: white;
	text-align: center;
	width: 100px;
	float: left;
}

#nolightleft {
	border:1px solid black;
	float: left;
	width: 20px;
}

#nolight {
	border: 1px solid black;
	text-align: center;
	float: left;
	width: 528px;
}

.company {
	padding-left: 10px;
}

.did {
	padding-left: 20px;
	padding-bottom: 10px;
}

.fancylist {
	list-style-type: none;
	padding-left: 20px;
}

.page3 {
	margin-top: 10px;
	padding-left: 10px;
}